h2{
    
    margin: 0 auto;
    padding: 8px 0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #626262;
}



.container-fluid{
    margin: 5px auto;
    min-height: 200px;
    background-color: skyblue;
}

.box{
    margin: 10px 0 10px;
    min-height: 200px;
    background-color: red;
}